<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>MyTaskDairy</servlet-name>
		<servlet-class>com.mytaskdairy.MyTaskDairyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyTaskDairy</servlet-name>
		<url-pattern>/addtask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showtask</servlet-name>
		<servlet-class>com.mytaskdairy.ShowTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showtask</servlet-name>
		<url-pattern>/showtask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>showstat</servlet-name>
		<servlet-class>com.mytaskdairy.ShowStatistics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>showstat</servlet-name>
		<url-pattern>/showstat</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deletetask</servlet-name>
		<servlet-class>com.mytaskdairy.DeleteTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletetask</servlet-name>
		<url-pattern>/deletetask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatedate</servlet-name>
		<servlet-class>com.mytaskdairy.Updatedate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatedate</servlet-name>
		<url-pattern>/updatedate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatedescription</servlet-name>
		<servlet-class>com.mytaskdairy.UpdateTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatedescription</servlet-name>
		<url-pattern>/updatedescription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>exchange</servlet-name>
		<servlet-class>com.mytaskdairy.Exchange</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exchange</servlet-name>
		<url-pattern>/exchange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>goodreadsbook</servlet-name>
		<servlet-class>com.mytaskdairy.GoodreadsService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>goodreadsbook</servlet-name>
		<url-pattern>/goodreadsbook</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mytask</servlet-name>
		<servlet-class>com.mytaskdairy.MyTask</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mytask</servlet-name>
		<url-pattern>/mytask</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updateduedate</servlet-name>
		<servlet-class>com.mytaskdairy.UpdateDueDate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateduedate</servlet-name>
		<url-pattern>/updateduedate</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
